{% extends 'layout.twig' %}

{% block container_id %}homepage{% endblock %}

{% block body %}
    <div class="text-center mt-5 mb-5">
        <h1>{{ config('site_title') }}</h1>
        {% if config('site_description') %}
            <p class="lead">{{ config('site_description')|raw }}</p>
        {% endif %}
    </div>

    <div class="row">
        {% if categories %}
            {% for cat in categories %}
                <div class="col-xs-12 col-sm-6 col-lg-3 mb-4">
                    <a href="{{ cat.url }}" class="card h-100 text-center text-dark text-decoration-none">
                        <div class="card-body p-4 p-lg-5 d-flex flex-column justify-content-center">
                            <h4 class="card-title">{{ cat.title }}</h4>
                            <p>{{ cat.description|raw }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-center">There is no content.</div>
        {% endif %}
    </div>
{% endblock %}
