<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}{{ config('site_title') }}</title>
    {% if block('description') is defined %}
        <meta name="description" content="{% block description %}{{ config('site_description')|striptags }}{% endblock %}">
    {% endif %}
    <meta name="keywords" content="{{ config('keywords')|join(',') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ path('assets/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    {% block head_content %}{% endblock %}
</head>
<body{% block body_attrs %}{% endblock %}>
{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ config('site_url') }}">{{ config('logo')|replace({'{site_title}': config('site_title')})|raw }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainmenu">
                    <ul class="navbar-nav ms-auto">
                        {% if config('nav_links') %}
                            {% for item in config('nav_links') %}
                                {% set link = item.link|replace({'{site_url}': config('site_url')}) %}
                                <li class="nav-item">
                                    <a class="nav-link{{ is_active(link, true) ? ' active' : '' }}" href="{{ link }}">{{ item.title|raw }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        <li class="nav-item ms-md-2 dropdown searchinput">
                        <input id="searchdocs" class="form-control dropdown-toggle" type="text" placeholder="Search docs..." data-bs-toggle="dropdown" aria-label="Search docs...">
                        <ul class="dropdown-menu mt-1 w-100 h-auto" style="max-height: 18.75rem;overflow-x: hidden;" aria-labelledby="searchdocs" id="search_result"></ul>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

<div class="container" id="{% block container_id %}page{% endblock %}">
    {% block body %}{% endblock %}
</div>

{% block footer %}
    <footer class="sitefooter">
        {% block footer_content %}{% endblock %}
        <div class="container pt-4 pb-4 text-center">
            Copyright &copy; {{ 'now' | date('Y') }} All Rights Reserved.
            Powered by <a href="https://github.com/RobiNN1/Markdown-Docs" target="_blank" rel="noopener">Markdown-Docs</a>.{# Please don't delete this #}
        </div>
    </footer>
{% endblock %}
<script>let SITEURL = '{{ config('site_url') }}';</script>
<script src="{{ path('assets/bootstrap/bootstrap.bundle.min.js') }}"></script>
<script src="{{ path('assets/js/scripts.js') }}"></script>
</body>
</html>
