{% extends 'layout.twig' %}

{% block page_title %}{{ title }} - {% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block container_id %}category{% endblock %}

{% block body %}
    {{ content|raw }}

    {% if columns %}
        <hr>
        <div class="grid grid-cols-4 gap-4 mt-4">
            {% for column in columns %}
                <ul>
                    {% for page in column %}
                        <li>
                            <a href="{{ page.url }}">{{ page.title }}
                                {% if page.is_dir %}
                                    {{ svg('folder', 13) }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
