{% extends 'layout.twig' %}

{% block container_id %}homepage{% endblock %}

{% block body %}
    <div class="text-center my-12">
        <h1 class="text-4xl">{{ config('site_title') }}</h1>
        {% if config('site_description') %}
            <p class="text-lg font-light">{{ config('site_description')|raw }}</p>
        {% endif %}
    </div>

    <div class="container lg:max-w-7xl mx-auto px-4">
        {% if categories %}
            <div class="md:grid md:grid-cols-3 md:gap-4 lg:grid-cols-4">
                {% for cat in categories %}
                    <a class="block p-10 text-center text-gray-900 hover:text-gray-600 hover:bg-gray-100 rounded bg-white shadow-sm shadow-gray-300" href="{{ cat.url }}">
                        <h4 class="mb-4 text-lg font-bold">{{ cat.title }}</h4>
                        <p>{{ cat.description|raw }}</p>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">There is no content.</div>
        {% endif %}
    </div>
{% endblock %}
