{% extends 'layout.twig' %}

{% block page_title %}{{ title }} - {% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block container_id %}page{% endblock %}
{% block head_content %}
    <link href="{{ asset('assets/highlight.js/googlecode.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/highlight.js/highlight.min.js') }}"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if all_pages %}
            <div class="col-span-12 md:col-span-2">
                <nav class="mt-3 md:mt-0">
                    <div class="flex items-center sm:hidden">
                        <button class="block text-gray-600 hover:text-black" type="button" data-toggle="#pages_sidebar" aria-label="Toggle pages">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>
                        <span>Show pages</span>
                    </div>
                    <div class="hidden md:block" id="pages_sidebar">
                        <ul>
                            {% for link in all_pages %}
                                <li class="py-1 truncate">
                                    <a {{ is_active('/' ~ link.path) ? ' class="text-gray-800"' : '' }} href="{{ link.url }}">
                                        {{ link.title|raw }}
                                        {% if link.is_dir %}
                                            {{ svg('folder', 13) }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        {% endif %}

        <div class="col-span-12 {{ all_pages ? 'md:col-span-8' : 'md:col-span-10' }}">
            <div class="mt-3 md:mt-0">{{ content|raw }}</div>
        </div>

        {% if toc %}
            <div class="col-span-12 md:col-span-2">
                <nav class="rounded-1 mt-3 md:mt-0">
                    <div class="text-gray-500">Table of contents</div>
                    <ul>
                        {% for link in toc %}
                            <li class="py-1 truncate"><a href="#{{ link.id }}">{{ link.title|raw }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}
